@import url('https://fonts.googleapis.com/css?family=Montserrat');  /* This will import the font */

/* The main website style */
html,  
body {
	background-color: #eaefef;
	color: #3d8c8c;
	width: 100%;
	height: auto;
	font-weight: 400;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-transform: none;
}

/* The colour of you links */
a {
	color: #3d8c8c;
}

/* All the Navbar code */
header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-weight: 400;
	overflow: hidden;
	background-color: #eaefef;
}

header li {
	float: left;
	margin-left: 8px;
}

header li a {
	display: block;
	text-align: center;
	padding: 12px 14px;
	transition: background-color .2s ease-in-out;
	border-radius: 50px;
}

header li a:hover {
	background-color: #3d8c8c;
}
/* End of the navbar code */
